<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Lane count:</strong>
  <%= @location.lane_count %>
</p>

<p>
  <strong>Has restaurant:</strong>
  <%= @location.has_restaurant %>
</p>

<p>
  <strong>Has bar:</strong>
  <%= @location.has_bar %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
